.search_bar .input input {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1.2rem;
  outline: none;
}

.search_bar [data-slot="inner-wrapper"] {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.search_bar .input [role="button"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.search_bar .input a {
  padding: 13px 20px 9px 20px;
}

.search_bar .input [role="button"]:hover {
  background-color: #f0f0f0;
  color: #333;
}
