.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground-muted);
  color: white;
  padding: 0 200px;
  /* text-align: center; */
}

.footer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.socials {
  margin-top: 0.8rem;
}

.socials > a {
  font-size: 2rem;
}

.mail {
  display: flex;
  gap: 0.5rem;
    align-items: center;
}

.mail > svg {
  font-size: 1.7rem;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .footer {
    background-color: var(--background);
    color: var(--foreground-muted);
  }
}