.container {
  padding: 50px 400px; /* TODO: Responsive olması önemli */
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.post_content{
  color: var(--foreground-muted);
  font-size: 1.2rem;
  line-height: 1.5;
}

/** Post Styling **/

.post_content hr{
  margin: 2rem 0;
}

.post_content li{
  margin-left: 1.3rem;
}